#form {
    width: 16em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#output {
    list-style-type: none;
}

#output>li:not(:last-child) {
    margin-bottom: 1em;
}

#output h4 {
    margin: 0;
    margin-bottom: .5em;
}